﻿body {
    margin: 0;
    padding: 0;
}

.navigation-style {
    vertical-align: 20px;
    padding: 0 0 0 20px;
    height: 35px;
    width: 19px;
}

.menu-style {
    vertical-align: 25px;
    padding: 0 0 0 20px;
    height: 18px;
    width: 27px;
}

.img-size {
    width: 25%;
}

.mobile-wrapper {
    width: 414px;
    margin: 0 auto;
    border: 1px solid #000000;
}

.bd-bg {
    background: url("images/bg2.png") no-repeat;
    background-size: cover;
}

.title-area {
    vertical-align: 30px;
    text-align: center;
    font-weight: bold;
    font: normal normal medium 20px/26px Roboto;
    letter-spacing: -0.2px;
    color: #000000;
    opacity: 1;
}

.wd-10 {
    width: 10%;
    display: inline-block;
}

.wd-70 {
    width: 70%;
    display: inline-block;
}

.wd-20 {
    width: 18%;
    display: inline-block;
}

.canvas-area {
    background: url("images/fullland-01.png") no-repeat center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.tree-1 {
    position: absolute;
    top: 50px;
    right: 50px;
}

.tree-2 {
    position: absolute;
    top: 120px;
    right: 145px;
}

.tree-center {
    position: absolute;
    top: 35%;
    right: 35%;
}

.text-area {
    padding: 20px 30px 0;
}

    .text-area p {
        font-weight: bold;
    }

.cards {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #CDDAE6;
    border-radius: 10px;
    opacity: 1;
    margin: 15px;
    clear: both;
}

.cards-2 {
    margin: 15px;
    clear: both;
    overflow: hidden;
}

h3 {
    text-align: left;
    font: normal normal bold 25px/33px Roboto;
    letter-spacing: -0.25px;
    color: #8F4535;
    opacity: 1;
    margin: 0;
    margin-bottom: 15px;
}

.cards p {
    margin: 0;
}

.cards .text-area {
    padding: 20px 30px 0;
}

.full-width {
    width: 100%;
    margin: 0 auto;
}

.digital-forest {
    margin-top: -130px;
    border-radius: 0 0 10px 10px;
}

.cards .tree-area a {
    display: block;
}

.c2a {
    width: 30%;
    float: left;
}

.text-center {
    text-align: center;
}

.c2a .green {
    text-align: center;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: -0.2px;
    color: #1BA37A;
    opacity: 1;
}

.c2a .normal {
    text-align: center;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: -0.15px;
    color: #000000;
    opacity: 1;
    height: 50px;
}

.c2a p {
    margin: 0;
    padding: 0;
}

.one {
    border-right: 1px solid;
    border-left: 1px solid;
    margin: 0 18px;
}

sub {
    font-size: 9px;
}

.notification p {
    text-align: left;
    font-size: 13px;
    letter-spacing: -0.14px;
    color: #8F4535;
    opacity: 1;
    padding: 5px 10px;
}

.notification {
    background: #FAFACF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    margin: 10px 15px 20px;
}

.c2a img {
    padding-bottom: 10px;
}


/*****************/
p {
    padding: 0;
    margin: 0;
}

.text-area {
    overflow: hidden;
}

.col-md-6 {
    width: 50%;
    float: left;
}

.sect {
    padding-bottom: 15px
}

.lbl {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.15px;
    opacity: 1;
    color: #6C8091
}

.val {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #333333;
    opacity: 1;
}

.padd-5 {
    padding-right: 5px;
}

.prod {
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 20px;
}

    .prod img {
        margin: 0 auto;
        display: block;
    }

.col-md-49 {
    width: 47%;
    float: left
}

.rgt {
    margin-right: 3%
}

.lft {
    margin-left: 3%
}

.search-area {
    margin-bottom: 20px;
}

.mobile-wrapper {
    border: 1px solid #cecece;
}

.wdt-13 {
    width: 13%;
}
