﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digital Forest</title>

    <!-- Custom styles for this template-->
   
    <link href="~/Content/main.css" rel="stylesheet" />


</head>

<body>

    <div class="mobile-wrapper">
        <div class="bd-bg">
            <!--header area-->
            <header>
                <div class="">
                    <a href="" class="wd-10"><img src="~/Content/Content/images/menu.png" class="menu-style"></a>
                    
                    <span class="wd-70 title-area">MY DASHBOARD</span>
                    <img src="~/Content/images/gh-small-logo.png" class="wd-20">
                </div>
            </header>
            <div class="content-area">
                <div class="notification">
                    <p>Achieved milestone 2/5 1200 trees planted!</p>
                </div>
                <div class="cards-2">
                    <div class="c2a text-center">
                        <img src="~/Content/images/co2-01.png" class="">
                        <p class="normal">Co<sub>2</sub> <br />Sequestered</p>
                        <p class="green">20.5</p>
                    </div>
                    <div class="c2a one text-center">
                        <img src="~/Content/images/tree-01.png" class="">
                        <p class="normal">No of Trees Planted</p>
                        <p class="green">183</p>
                    </div>
                    <div class="c2a  text-center">

                        <img src="~/Content/images/carbonfootprint-01.png" class="">
                        <p class="normal">Total CO<sub>2</sub> Footprint</p>
                        <p class="green">49.2 Kg</p>
                    </div>

                </div>
                <div class="cards">
                    <div class="text-area">
                        <h3>Digital Forest</h3>
                        <p>183 trees Planted</p>
                        <p>My Stake 25%</p>
                    </div>
                    <div class="tree-area">
                        <a href="~/EndCustomer/DigitalForest"><img src="~/Content/images/digitalforest-bg-01.png" class="full-width digital-forest"></a>
                    </div>
                </div>
                <div class="cards">
                    <div class="text-area">
                        <h3><a href="~/EndCustomer/Trees">My Trees</a></h3>
                        <p>Self 3 | Shared 180</p>
                        <p>4 Spices of Plant</p>
                    </div>
                    <div class="tree-area">
                        <a href=""><img src="~/Content/images/trees.png" class="full-width"></a>
                    </div>
                </div>
            </div>
            <!--end header area-->
        </div>
    </div>

</body>

</html>
