﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digital Forest</title>

    <!-- Custom styles for this template-->
    
    <link href="~/Content/main.css" rel="stylesheet" />
</head>

<body>

    <div class="mobile-wrapper">
        <div class="bd-bg">
            <!--header area-->
            <header>
                <div class="">
                    <a href="~/EndCustomer/Index" class="wd-10"><img src="~/Content/images/navigation.png" class="navigation-style"></a>
                    <span class="wd-70 title-area">DIGITAL FOREST</span>
                    <img src="~/Content/images/gh-small-logo.png" class="wd-20">
                </div>
            </header>
            <div class="content-area">
                <div class="text-area">
                    <p>180 Trees Planted: Self 3 | Shared 180</p>
                    <p>4 Spices of Plant</p>
                </div>
                <div class="canvas-area">
                    <a href="~/EndCustomer/GetSatelliteViewForTree/1"><img src="~/Content/images/gold.png" class="tree-1 img-size"></a>
                    <a href="~/EndCustomer/GetSatelliteViewForTree/2"><img src="~/Content/images/tree1.png" class="tree-2 img-size"></a>
                    <a href="~/EndCustomer/GetSatelliteViewForTree/3"><img src="~/Content/images/detailsbox.png" class="tree-2 wdt-13"></a>
                    <a href="~/EndCustomer/GetSatelliteViewForTree/3"><img src="~/Content/images/planttree-btn.png" class="tree-center img-size"></a>
                </div>
            </div>
            <!--end header area-->
        </div>
    </div>

</body>

</html>
