﻿@model GreenHimalayasHackathon.Models.TreeViewModel


@{
    Layout = null;
   
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@Model.Plant_type</title>

    <!-- Custom styles for this template-->

    <link href="~/Content/main.css" rel="stylesheet" />

</head>

<body>
    <style>
        #map {
            height: 600px;
            width: 100%;
            position: fixed;
            overflow: auto !important;
        }
    </style>
    
    <div class="mobile-wrapper">
        <div class="bd-bg">
            <!--header area-->
            <header>
                <div class="">
                    <a href="~/EndCustomer/DigitalForest" class="wd-10"><img src="~/Content/images/navigation.png" class="navigation-style"></a>
                    <span class="wd-70 title-area">@Model.Plant_type</span>
                    <img src="~/Content/images/gh-small-logo.png" class="wd-20">
                </div>
            </header>
            <div class="content-area">
                <div class="text-area">
                    <div class="col-md-6">
                        <div class="sect">
                            <p class="lbl">NGO</p>
                            <p class="val">@Model.NgoName</p>
                        </div>
                        <div class="sect">
                            <p class="lbl">My Stakes</p>
                            <p class="val">20% Rs.20</p>
                        </div>
                        <div class="sect">
                            <p class="lbl">CO2 offset</p>
                            <p class="val">@Model.Carbon_sequetered_per_year</p>
                        </div>
                        <div class="sect">
                            <p class="lbl">Plant Age</p>
                            <p class="val">@Model.Age</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sect">
                            <p class="lbl">Partner by</p>
                            <p class="val">Swiggy</p>
                        </div>
                        <div class="sect">
                            <p class="lbl">Planting Date</p>
                            <p class="val"> @Model.Plantation_date.Value.ToShortDateString()</p>
                        </div>
                        <div class="sect">
                            <p class="lbl">Height</p>
                            <p class="val">57 cms</p>
                        </div>
                        <div class="sect">
                            <p class="lbl">Share</p>
                            <p class="val">
                                <img src="~/Content/images/insta.svg" class="padd-5">
                                <img src="~/Content/images/twitter.svg" class="padd-5">
                                <img src="~/Content/images/facebook.svg" class="padd-5">
                            </p>
                        </div>
                    </div>
                </div>
                <div id="map" style="overflow:auto!important;">
                    @*<img src="~/Content/images/google-earth-1.png" class="full-width">*@
                </div>
            </div>
            <!--end header area-->
        </div>
    </div>

</body>

</html>

@*<style type="text/css">

        /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>*@

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={your_key_here}&callback=initMap&libraries=&v=weekly"
        defer></script>

<script type="text/javascript">
    function initMap() {
     
        var tree = { lat: @Model.Latitude, lng: @Model.Longitude };
        const map = new google.maps.Map(document.getElementById("map"), {
            center: tree,
            zoom: 18,
            mapTypeId: "satellite",
        });

       var marker = new google.maps.Marker({ position: tree, map: map });
       // map.setTilt(45);

        //map = new google.maps.Map(
        //    document.getElementById('map'),
        //    { center: new google.maps.LatLng(-33.91722, 151.23064), zoom: 16 });

        //var iconBase =
        //    'https://developers.google.com/maps/documentation/javascript/examples/full/~/Content/images/';

        //var icons = {
        //    parking: {
        //        icon: iconBase + 'parking_lot_maps.png'
        //    },
        //    library: {
        //        icon: iconBase + 'library_maps.png'
        //    },
        //    info: {
        //        icon: iconBase + 'info-i_maps.png'
        //    }
        //};

        //var features = [
        //    {
        //        position: new google.maps.LatLng(-33.91721, 151.22630),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91539, 151.22820),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91747, 151.22912),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91910, 151.22907),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91725, 151.23011),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91872, 151.23089),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91784, 151.23094),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91682, 151.23149),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91790, 151.23463),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91666, 151.23468),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.916988, 151.233640),
        //        type: 'info'
        //    }, {
        //        position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.916365282092855, 151.22937399734496),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.91665018901448, 151.2282474695587),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.919543720969806, 151.23112279762267),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.91608037421864, 151.23288232673644),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.91851096391805, 151.2344058214569),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.91818154739766, 151.2346203981781),
        //        type: 'parking'
        //    }, {
        //        position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
        //        type: 'library'
        //    }
        //];

        //// Create markers.
        //for (var i = 0; i < features.length; i++) {
        //    var marker = new google.maps.Marker({
        //        position: features[i].position,
        //        icon: icons[features[i].type].icon,
        //        map: map,
        //        mapTypeId: "satellite"
        //    });
        //};
    }
</script>
