﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Trees</title>


    <link href="~/Content/main.css" rel="stylesheet" />



</head>

<body>

    <div class="mobile-wrapper">
        <div class="bd-bg">
            <!--header area-->
            <header>
                <div class="">
                    <a href="~/EndCustomer/Index" class="wd-10"><img src="~/Content/images/navigation.png" class="navigation-style"></a>
                    <span class="wd-70 title-area">MY TREES</span>
                    <img src="~/Content/images/gh-small-logo.png" class="wd-20">
                </div>
            </header>
            <div class="content-area">
                <div class="cards">
                    <div class="text-area">
                        <h3>4 Types of Trees Planted</h3>
                        <p>Self 3 | Shared 180</p>
                        <p>4 Spices of Plant</p>
                    </div>
                    <div class="tree-area">
                        <a href="~/EndCustomer/DigitalForest"><img src="~/Content/images/trees.png" class="full-width"></a>
                    </div>
                </div>
                <hr>
                <div class="text-area">
                    <div class="search-area">
                        <p>Showing 50 of 183 Tress</p>
                    </div>
                    <div class="col-md-49 rgt">
                        <div class="sect text-center">
                            <div class="prod">
                                <img src="~/Content/images/tree1.png" class="full-width">
                            </div>
                            <p class="val">BanyanTree</p>
                            <p class="lbl">Height: 20m</p>
                            <p class="lbl">Age: 1y 1m</p>
                            <p class="lbl">Plantation: 2 Oct’19</p>
                        </div>
                        <div class="sect text-center">
                            <div class="prod">
                                <img src="~/Content/images/tree1.png" class="full-width">
                            </div>
                            <p class="val">BanyanTree</p>
                            <p class="lbl">Height: 20m</p>
                            <p class="lbl">Age: 1y 1m</p>
                            <p class="lbl">Plantation: 2 Oct’19</p>
                        </div>
                        <div class="sect text-center">
                            <div class="prod">
                                <img src="~/Content/images/tree1.png" class="full-width">
                            </div>
                            <p class="val">BanyanTree</p>
                            <p class="lbl">Height: 20m</p>
                            <p class="lbl">Age: 1y 1m</p>
                            <p class="lbl">Plantation: 2 Oct’19</p>
                        </div>
                    </div>
                    <div class="col-md-49 lft">
                        <div class="sect text-center">
                            <div class="prod">
                                <img src="~/Content/images/tree1.png" class="full-width">
                            </div>
                            <p class="val">BanyanTree</p>
                            <p class="lbl">Height: 20m</p>
                            <p class="lbl">Age: 1y 1m</p>
                            <p class="lbl">Plantation: 2 Oct’19</p>
                        </div>
                        <div class="sect text-center">
                            <div class="prod">
                                <img src="~/Content/images/tree1.png" class="full-width">
                            </div>
                            <p class="val">BanyanTree</p>
                            <p class="lbl">Height: 20m</p>
                            <p class="lbl">Age: 1y 1m</p>
                            <p class="lbl">Plantation: 2 Oct’19</p>
                        </div>
                        <div class="sect text-center">
                            <div class="prod">
                                <img src="~/Content/images/tree1.png" class="full-width">
                            </div>
                            <p class="val">BanyanTree</p>
                            <p class="lbl">Height: 20m</p>
                            <p class="lbl">Age: 1y 1m</p>
                            <p class="lbl">Plantation: 2 Oct’19</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--end header area-->
        </div>
    </div>

</body>

</html>

