﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}


<article class="content cards-page">
    <section class="section">
        <div class="row">
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> No of Projects </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="col-sm">
                                <h1 class="count"> 31 </h1>
                            </div>
                            <div class="col-sm">
                                <img src="~/Assets/images/card-add-project.png" class="rounded-circle" alt="Logo" style="width:90px;margin-top: -25px;">
                            </div>
                        </div>
                        <div class="row col-sm">
                            <a href="/NewProject/Index" class="btn btn-primary">view details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="title"><p>CO<sub>2</sub> Emissions Neutralised </p></div>
                            <p class="title-description">(In Tonnes)</p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="col-sm">
                                <h1 class="count"> 6,48,870 </h1>
                            </div>
                            <div class="col-sm">
                                <img src="~/Assets/images/carbon-reduction.png" class="rounded-circle" alt="Logo" style="width:90px;margin-top: -25px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Amount Received </p>
                        </div>
                    </div>
                    <div class="card-block mt-3">
                        <div class="d-flex flex-row">
                            <div class="p-2">
                                <img src="~/Assets/images/rupee-symbol.png" class="rounded-circle" alt="Logo" style="width:90px;margin-top: -25px;">
                            </div>
                            <div class="p-2">
                                <h1 class="count"> 3,50,000 </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
        </div>
    </section>
</article>


<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liDashboard').addClass('active');
    });
</script>