﻿@model GreenHimalayasHackathon.Project_Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<article class="content cards-page">
    <!-- <div class="title-block"> -->
    <!-- <h3 class="title"> Infos </h3> -->
    <!-- <p class="title-description"> Cards can contain almost any kind of element inside </p> -->
    <!-- </div> -->
    <section class="section">

        <div class="card card-block sameheight-item" style="height: 726px;">
            <div class="row">
                <h3 class="col-sm"> Are you sure you want to delete this? </h3>
                <div class="col-sm">
                    @Html.ActionLink("Back to Project List", "Index")
                </div>
            </div>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Project_location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Project_location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.No_of_Trees)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.No_of_Trees)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Inventory)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Inventory)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Project_type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Project_type)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ngo_id)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ngo_id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created_Date)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <button class="btn btn-primary" type="submit">Delete</button>
                    </div>
                }
            </div>

        </div>

    </section>
</article>

<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liOnboardProject').addClass('active');
    });
</script>