﻿@model GreenHimalayasHackathon.Models.ProjectVerificationModel

@{

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}


<article class="content cards-page">
    <section class="section">

        <!-- Custom styles for this template-->
        <link href="~/Assets/css/theme.min.css" rel="stylesheet">

        <style>
            .spacer {
                height: 50px;
            }

            .fR {
                float: right;
            }

            .btn_area {
                padding: 20px 10px;
                overflow: hidden;
            }

            .black {
                color: #000000;
            }

            .card-wrap {
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #e3e6f0;
                border-radius: .35rem;
                padding: 10px 20px;
            }

            .card-link {
                color: #000000 !important;
                font-weight: bold;
                font-size: 20px;
            }

            .red {
                color: #FF0000
            }

            .green {
                color: #3BB300
            }

            #accordion .card {
                margin-bottom: 10px;
            }

                #accordion .card .card-header {
                    background-color: #e2e2e2 !important;
                }

            #accordion .table thead th {
                border-bottom: 2px solid #3BB300;
                color: #000000;
            }

            .btn-style {
                border-radius: 30px 0;
                text-transform: uppercase;
                border: none;
                font-weight: normal;
                background: #3BB300 !important;
                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            }

            .card.payment {
                background: #E2E2E2 !important;
            }

            .link {
                color: #3BB300
            }

            .details-text {
                padding: 10px 0;
                color: #3b3b3b
            }

            .data {
                padding-top: 20px;
                paddin-bottom: 20px;
            }

                .data .details-text {
                    padding: 5px 0;
                    color: #3b3b3b
                }

            .lbl-txt {
                display: inline-block;
                width: 200px;
            }

            .link.small {
                font-size: 14px;
                text-transform: initial;
                padding: 0 30px;
            }

            .download-btn-style {
                background: #000000 !important;
                border-radius: 0;
                padding: 20px;
            }

            .full-width {
                width: 100%;
            }

            .modal-header {
                background: #3BB300
            }
        </style>


        <div id="page-top">

            <!-- Page Wrapper -->
            <div id="wrapper">


                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <div class="card-wrap shadow h-100">

                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h4 mb-0 black"><strong>Payment Details</strong></h1>
                                    @Html.ActionLink("Back to Project List", "Index")
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-md-12 mb-12">
                                        <div class="card payment shadow h-100">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="font-weight-bold black text-uppercase mb-1">Amount Disbursed <a href="" class="link small">View Breakdown Details</a></div>
                                                        <div class="h2 mb-0  text-gray-800 fs-50">
                                                            &#8377;
                                                            @Html.DisplayFor(model => model.Amount)
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="javascript:;" class="btn btn-primary download-btn-style">DOWNLOAD PAYMENT INVOICE</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="spacer"></div>
                                </div>
                                <!-- Project Details Section-->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h4 mb-0 black"><strong>Project Details</strong></h1>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 mb-12">
                                        <div class="">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Name of the Project :</span><span>@Html.DisplayFor(model => model.project_name)</span> </div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Location :</span><span>@Html.DisplayFor(model => model.Project_location)</span> <a href="" class="link small"><img src="~/Assets/images/map-icon.png" style="padding:0 5px;"> View</a></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">No of Trees :</span><span> @Html.DisplayFor(model => model.No_of_Trees)</span></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Type of Trees :</span><span> Mango</span></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Inventory :</span><span>@Html.DisplayFor(model => model.Inventory)</span> <a href="" class="link small">View Details</a></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Type of Project :</span><span>@Html.DisplayFor(model => model.Project_type)</span></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Status :</span><span> <strong><a href="#accordion">@Html.DisplayFor(model => model.Status)</a></strong></span></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">No of Trees Approved :</span><span> <strong>18,000</strong></span></div>
                                                        <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Created Date Time:</span><span>@Html.DisplayFor(model => model.Created_Date)</span></div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <img src="~/Assets/images/leaf-img.png" style="width:80%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End Project Details Section-->

                                <div class="row">
                                    <div class="spacer"></div>
                                </div>

                                <!-- Verification Section -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h4 mb-0 black"><strong>Verification Details</strong> </h1>
                                </div>

                                <!-- static feilds-->
                                <!-- accordion structure-->

                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                                        Verification 1 : 22/09/2020:12:00:00
                                                    </a>
                                                </div>
                                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Locations</th>
                                                                        <th>No of Plants</th>
                                                                        <th>Dead</th>
                                                                        <th>Alive</th>
                                                                        <th>Survival in %</th>
                                                                        <th>Link</th>
                                                                        <th>Reports</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Location 4540</td>
                                                                        <td>5000</td>
                                                                        <td><span class="red">500</a></td>
                                                                        <td><span class="green">4500</a></td>
                                                                        <td>90.00%</td>
                                                                        <td><a href="" class="link" data-toggle="modal" data-target="#myModal">View</a></td>
                                                                        <td><a href=""><img src="~/Assets/images/pdf-img.jpg"></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Location 4541</td>
                                                                        <td>5000</td>
                                                                        <td><span class="red">500</a></td>
                                                                        <td><span class="green">4500</a></td>
                                                                        <td>90.00%</td>
                                                                        <td><a href="" class="link">View</a></td>
                                                                        <td><a href=""><img src="~/Assets/images/pdf-img.jpg"></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Location 4542</td>
                                                                        <td>5000</td>
                                                                        <td><span class="red">500</a></td>
                                                                        <td><span class="green">4500</a></td>
                                                                        <td>90.00%</td>
                                                                        <td><a href="" class="link">View</a></td>
                                                                        <td><a href=""><img src="~/Assets/images/pdf-img.jpg"></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Location 4543</td>
                                                                        <td>5000</td>
                                                                        <td><span class="red">500</a></td>
                                                                        <td><span class="green">4500</a></td>
                                                                        <td>90.00%</td>
                                                                        <td><a href="" class="link">View</a></td>
                                                                        <td><a href=""><img src="~/Assets/images/pdf-img.jpg"></a></td>
                                                                    </tr>
                                                                <thead>
                                                                    <tr>
                                                                        <th>TOTAL</th>
                                                                        <th>20,000</th>
                                                                        <th><span class="red">2000</span></th>
                                                                        <th><span class="green">18,000</span></th>
                                                                        <th>90.00%</th>
                                                                        <th></th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>

                                                                </tbody>
                                                            </table>
                                                            <div class="btn_area fR">
                                                                <a href="javascript:;" onclick="login()" class="btn btn-primary btn-style" style="width:100px;">Export</a>
                                                            </div>
                                                        </div>

                                                        <!-- pop up box-->
                                                        <div class="modal" id="myModal">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">

                                                                    <!-- Modal Header -->
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title black">Location 4540</h4>
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    </div>

                                                                    <!-- Modal body -->
                                                                    <div class="modal-body">
                                                                        <img src="~/Assets/images/popup-box.jpg" class="full-width">
                                                                        <div class="data">
                                                                            <div class="details-text text-uppercase mb-1"><span class="lbl-txt">No of Trees :</span><span> 5,000</span></div>
                                                                            <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Dead :</span><span class="red"> 500</span></div>
                                                                            <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Alive :</span><span class="green"> 4,500</span></div>
                                                                            <div class="details-text text-uppercase mb-1"><span class="lbl-txt">Survival % :</span><span> 90.00%</span></div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end of pop box-->




                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                                        Verification 3 : 22/08/2020:12:00:00
                                                    </a>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                                        Verification 3 : 22/07/2020:12:00:00
                                                    </a>
                                                </div>
                                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end of accordion-->

                            </div>

                        </div>
                        <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->



                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>


    </section>
</article>


<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liOnboardProject').addClass('active');
    });
</script>
