﻿@model IEnumerable<GreenHimalayasHackathon.Project_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<article class="content cards-page">
    <section class="section">
        <div class="card card-block sameheight-item" style="height: 726px;">
            <div class="row">
                <h3 class="col-sm"> Created Projects </h3>
                <div class="col-sm">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Project_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Project_location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.No_of_Trees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Project_type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created_Date)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project_location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.No_of_Trees)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inventory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_Date)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Project_id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Project_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Project_id })
                        </td>
                    </tr>
                }

            </table>

        </div>

    </section>
</article>



<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liOnboardProject').addClass('active');
    });
</script>
