﻿@model IEnumerable<GreenHimalayasHackathon.Project_Table>

@{
    ViewBag.Title = "Card Page";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<article class="content cards-page">
    <!-- <div class="title-block"> -->
    <!-- <h3 class="title"> Infos </h3> -->
    <!-- <p class="title-description"> Cards can contain almost any kind of element inside </p> -->
    <!-- </div> -->
    <section class="section">

        <div class="row">


            @foreach (var item in Model)
            {
                <div class="col-xl-4">
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="header-block">
                                <div class="d-flex flex-row">
                                    <div class="p-2 mt-2"><div class="title">@Html.DisplayFor(modelItem => item.Project_Name)</div></div>
                                    <div class="p-2"><img src="../Assets/images/not-verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                    <div class="p-2 mt-2"><p class="" style="color: #6ba829;"> not verified </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row col-sm">
                                <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.No_of_Trees)</span>
                            </div>
                            <div class="d-flex flex-row">
                                <label class="">Location:</label>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.Project_location)</span>&nbsp;&nbsp
                                <img src="../Assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                                <p class="" style="color: #6ba829;"> view </p>
                            </div>
                            <div class="row col-sm">
                                @Html.ActionLink("View Details", "Details", new { id = item.Project_id }, new { @class = "btn btn-primary rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- /.col-xl-4 -->
            <!--<div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="d-flex flex-row">
                                <div class="p-2 mt-2"><div class="title"> Project 1</div></div>
                                <div class="p-2"><img src="../Assets/images/verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                <div class="p-2 mt-2"><p class="" style="color: #6ba829;"> verified </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row col-sm">
                            <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span> 10,000</span>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="">Location:</label>&nbsp;&nbsp;<span> Ladakh</span>&nbsp;&nbsp
                            <img src="../Assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                            <p class="" style="color: #6ba829;"> view map </p>
                        </div>
                        <div class="row col-sm">
                            <button class="btn btn-primary rounded" type="button">view details</button>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- /.col-xl-4 -->
            <!--<div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="d-flex flex-row">
                                <div class="p-2 mt-2"><div class="title"> Project 2</div></div>
                                <div class="p-2"><img src="../Assets/images/not-verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                <div class="p-2 mt-2"><p class="" style="color: red"> not verified </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row col-sm">
                            <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span> 78,000</span>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="">Location:</label>&nbsp;&nbsp;<span> Mumbai</span>&nbsp;&nbsp
                            <img src="../Assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                            <p class="" style="color: #6ba829;"> view map </p>
                        </div>
                        <div class="row col-sm">
                            <button class="btn btn-primary rounded" type="button">view details</button>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- /.col-xl-4 -->


        </div>
    </section>
</article>


<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liViewProject').addClass('active');
    });
</script>
