﻿@model GreenHimalayasHackathon.Ngo_Table
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/NGOLoginLayout.cshtml";
}

<div class="auth-content">
    <p class="text-center">LOGIN TO CONTINUE</p>
    @*<form id="login-form" action="./home.html" method="GET" novalidate="">*@

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Email_Id)
            @Html.TextBoxFor(model => model.Email_Id, new { type = "email", @class = "form-control underlined", placeholder = "Your email address", required = true })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { type = "password", @class = "form-control underlined", placeholder = "Your password", required = true })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </div>
    }

</div>

<script>
    $(document).ready(function () {
        $('form').attr('id', 'login-form');
    });
</script>