﻿@model IEnumerable<GreenHimalayasHackathon.Transaction_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Co2_emission)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Platform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Co2_emission)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Transaction_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Transaction_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Transaction_id })
        </td>
    </tr>
}

</table>
