﻿@model IEnumerable<GreenHimalayasHackathon.Project_Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Trees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_Trees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngo_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Project_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Project_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Project_id })
        </td>
    </tr>
}

</table>
