﻿
@{
    ViewBag.Title = "NGO Interface";
}
<!doctype html>
<html class="no-js" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NGO Interface</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="~/Assets/css/vendor.css">
    <link rel="stylesheet" id="theme-style" href="~/Assets/css/app.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse d-lg-none d-xl-none">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="header-block header-block-search">
                    <!-- <form role="search"> -->
                    <!-- <div class="input-container"> -->
                    <!-- <i class="fa fa-search"></i> -->
                    <!-- <input type="search" placeholder="Search"> -->
                    <!-- <div class="underline"></div> -->
                    <!-- </div> -->
                    <!-- </form> -->
                </div>
                <img src="~/Assets/images/ngologo.jpg" class="rounded-circle" alt="Logo" style="width:30px;">
                <div class="title"> Welcome </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="notifications new">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <sup>
                                    <span class="counter">8</span>
                                </sup>
                            </a>
                            <div class="dropdown-menu notifications-dropdown-menu">
                                <ul class="notifications-container">
                                    <li>
                                        <a href="#" class="notification-item">
                                            <div class="img-col">
                                                <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                                            </div>
                                            <div class="body-col">
                                                <p>
                                                    <span class="accent">Zack Alien</span> pushed new commit:
                                                    <span class="accent">Fix page load performance issue</span>.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="notification-item">
                                            <div class="img-col">
                                                <div class="img" style="background-image: url('assets/faces/5.jpg')"></div>
                                            </div>
                                            <div class="body-col">
                                                <p>
                                                    <span class="accent">Amaya Hatsumi</span> started new task:
                                                    <span class="accent">Dashboard UI design.</span>.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="notification-item">
                                            <div class="img-col">
                                                <div class="img" style="background-image: url('assets/faces/8.jpg')"></div>
                                            </div>
                                            <div class="body-col">
                                                <p>
                                                    <span class="accent">Andy Nouman</span> deployed new version of
                                                    <span class="accent">NodeJS REST Api V3</span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer>
                                    <ul>
                                        <li>
                                            <a href="#"> View All </a>
                                        </li>
                                    </ul>
                                </footer>
                            </div>
                        </li>
                        <li class="profile dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&amp;s=40')"> </div>
                                <span class="name"> John Doe </span>
                            </a>
                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user icon"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-bell icon"></i> Notifications
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Login/Login">
                                    <i class="fa fa-power-off icon"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo">
                                <span class="l l1"></span>
                                <span class="l l2"></span>
                                <span class="l l3"></span>
                                <span class="l l4"></span>
                                <span class="l l5"></span>
                            </div> NGO Interface
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="sidebar-menu metismenu" id="sidebar-menu">
                            <li id="liDashboard">
                                <a href="/NewProject/Dashboard">
                                    <i class="fa fa-home"></i> Dashboard
                                </a>
                            </li>
                            <li id="liOnboardProject">
                                <a href="/NewProject/Index">
                                    <i class="fa fa-pencil-square-o"></i> Onboarding Project
                                </a>
                            </li>
                            <li id="liViewProject">
                                <a href="/NewProject/ProjectCard">
                                    <i class="fa fa-pencil-square-o"></i> Project Card
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <div>

                @RenderBody()

                <div>
                    <footer class="footer">
                        <div class="footer-block buttons">
                            <small>&copy; Copyright</small>
                        </div>
                        <div class="footer-block author">
                            <ul>
                                <li>
                                    created by
                                    <a href="https://www.powerweave.com/"><img src="https://www.powerweave.com/wp-content/uploads/2016/04/logo-1.jpg" alt="Powerweave" width="110px"></a>
                                </li>
                                <li>
                                    <a href="mailto:hr@powerweave.com">get in touch</a>
                                </li>
                            </ul>
                        </div>
                    </footer>

                    <div class="modal fade" id="modal-media">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Media Library</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-tab-container">
                                    <ul class="nav nav-tabs modal-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content modal-tab-content">
                                        <div class="tab-pane fade" id="gallery" role="tabpanel">
                                            <div class="images-container">
                                                <div class="row"> </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                            <div class="upload-container">
                                                <div id="dropzone">
                                                    <form action="https://modularcode.io/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                        <div class="dz-message-block">
                                                            <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Insert Selected</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    
                    <!-- /.modal -->
                    <div class="modal fade" id="confirm-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        <i class="fa fa-warning"></i> Alert
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure want to do this?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>

            </div>
            <!-- Reference block for JS -->
            <div class="ref" id="ref">
                <div class="color-primary"></div>
                <div class="chart">
                    <div class="color-primary"></div>
                    <div class="color-secondary"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Assets/js/vendor.js"></script>
    <script src="~/Assets/js/app.js"></script>
</body>

</html>