﻿
@{
    ViewBag.Title = "NGO Login";
}

<!doctype html>
<html class="no-js" lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NGO Interface</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="~/Assets/css/vendor.css">
    <link rel="stylesheet" id="theme-style" href="~/Assets/css/app.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <img src="~/Assets/images/ngologo.jpg" class="rounded-circle" alt="Logo" style="width:30px;">
                        NGO Interface
                    </h1>
                </header>

                @RenderBody()

            </div>
            <div class="text-center">
                <a href="/NewProject/Index" class="btn btn-secondary btn-sm">
                    <i class="fa fa-arrow-left"></i> Back to dashboard
                </a>
            </div>
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Assets/js/vendor.js"></script>
    <script src="~/Assets/js/app.js"></script>
</body>

</html>