﻿@model GreenHimalayasHackathon.Project_Table

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<article class="content cards-page">
    <!-- <div class="title-block"> -->
    <!-- <h3 class="title"> Infos </h3> -->
    <!-- <p class="title-description"> Cards can contain almost any kind of element inside </p> -->
    <!-- </div> -->
    <section class="section">

        <div class="card card-block sameheight-item" style="height: 726px;">
            <div class="row">
                <h3 class="col-sm"> Enter Below Details </h3>
                <div class="col-sm">
                    @Html.ActionLink("Back to Project List", "Index")
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Project_location, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Project_location, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Project_location, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.No_of_Trees, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.No_of_Trees, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.No_of_Trees, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Inventory, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Inventory, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Inventory, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Project_type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Project_type, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Project_type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ngo_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ngo_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ngo_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Create" class="btn btn-default" />*@
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </div>
                </div>
            }

        </div>

    </section>
</article>

<!--<article class="content cards-page">-->
    <!-- <div class="title-block"> -->
    <!-- <h3 class="title"> Infos </h3> -->
    <!-- <p class="title-description"> Cards can contain almost any kind of element inside </p> -->
    <!-- </div> -->
    <!--<section class="section">

        <div class="card card-block sameheight-item" style="height: 726px;">
            <div class="title-block">
                <h3 class="title"> Create new Project </h3>
            </div>
            <form class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Name of the Project</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="name of project" value="Go Green" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the details.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Location</label>
                        <input type="text" class="form-control" id="validationCustom02" placeholder="location" value="Leh" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the details.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Number of trees</label>
                        <input type="number" class="form-control" id="validationCustom02" placeholder="number of trees" value="Otto" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the details.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom03">Type of project</label>
                        <input type="text" class="form-control" id="validationCustom03" placeholder="type of project" required>
                        <div class="invalid-feedback">
                            Please enter the details.
                        </div>
                    </div>
                </div>-->
                <!-- <div class="form-row"> -->
                <!-- <div class="col-md-4 mb-3"> -->
                <!-- <label for="exampleInputFile">File input</label> -->
                <!-- <div class="input-group"> -->
                <!-- <div class="custom-file"> -->
                <!-- <input type="file" class="custom-file-input" id="exampleInputFile"> -->
                <!-- <label class="custom-file-label" for="exampleInputFile">Choose file</label> -->
                <!-- </div> -->
                <!-- <div class="input-group-append"> -->
                <!-- <span class="input-group-text" id="">Upload</span> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- </div> -->
                <!--<button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

    </section>
</article>-->


<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liOnboardProject').addClass('active');
    });
</script>
