﻿@model GreenHimalayasHackathon.Project_Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Trees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Trees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngo_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngo_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
