﻿@model GreenHimalayasHackathon.Project_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Project_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Trees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Trees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngo_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngo_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
