﻿@model IEnumerable<GreenHimalayasHackathon.Project_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NGOLayout.cshtml";
}

<article class="content cards-page">
    <section class="section">
        <div class="card card-block sameheight-item" style="height: 726px;">
            <div class="row">
                <h3 class="col-sm"> Created Projects </h3>
                <div class="col-sm">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Project_location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.No_of_Trees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Project_type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ngo_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created_Date)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project_location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.No_of_Trees)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inventory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ngo_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_Date)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Project_id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Project_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Project_id })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </section>
</article>


<article class="content cards-page">
    <!-- <div class="title-block"> -->
    <!-- <h3 class="title"> Infos </h3> -->
    <!-- <p class="title-description"> Cards can contain almost any kind of element inside </p> -->
    <!-- </div> -->
    <section class="section">

        <div class="row">
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="d-flex flex-row">
                                <div class="p-2 mt-2"><div class="title"> Project 1</div></div>
                                <div class="p-2"><img src="./assets/images/verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                <div class="p-2 mt-2"><p class="" style="color: #6ba829;"> verified </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row col-sm">
                            <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span> 10,000</span>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="">Location:</label>&nbsp;&nbsp;<span> Ladakh</span>&nbsp;&nbsp
                            <img src="./assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                            <p class="" style="color: #6ba829;"> view map </p>
                        </div>
                        <div class="row col-sm">
                            <button class="btn btn-primary rounded" type="button">view details</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="d-flex flex-row">
                                <div class="p-2 mt-2"><div class="title"> Project 2</div></div>
                                <div class="p-2"><img src="./assets/images/not-verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                <div class="p-2 mt-2"><p class="" style="color: red"> not verified </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row col-sm">
                            <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span> 78,000</span>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="">Location:</label>&nbsp;&nbsp;<span> Mumbai</span>&nbsp;&nbsp
                            <img src="./assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                            <p class="" style="color: #6ba829;"> view map </p>
                        </div>
                        <div class="row col-sm">
                            <button class="btn btn-primary rounded" type="button">view details</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="d-flex flex-row">
                                <div class="p-2 mt-2"><div class="title"> Project 3</div></div>
                                <div class="p-2"><img src="./assets/images/verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                <div class="p-2 mt-2"><p class="" style="color: #6ba829;"> verified </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row col-sm">
                            <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span> 45,000</span>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="">Location:</label>&nbsp;&nbsp;<span> Chennai</span>&nbsp;&nbsp
                            <img src="./assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                            <p class="" style="color: #6ba829;"> view map </p>
                        </div>
                        <div class="row col-sm">
                            <button class="btn btn-primary rounded" type="button">view details</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="header-block">
                            <div class="d-flex flex-row">
                                <div class="p-2 mt-2"><div class="title"> Project 4</div></div>
                                <div class="p-2"><img src="./assets/images/verified.png" class="rounded-circle" alt="Logo" style="width:50px; border: 1px solid #948585;"></div>
                                <div class="p-2 mt-2"><p class="" style="color: #6ba829;"> verified </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <label class="">Number of trees planted:</label>&nbsp;&nbsp;<span> 22,000</span>
                        </div>
                        <div class="row col-sm">
                            <label class="">Location:</label>&nbsp;&nbsp;<span> Manali</span>&nbsp;&nbsp
                            <img src="./assets/images/map.png" class="rounded-circle" alt="Logo" style="width:40px;">
                            <p class="" style="color: #6ba829;"> view map </p>
                        </div>
                        <div class="row col-sm">
                            <button class="btn btn-primary rounded" type="button">view details</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xl-4 -->
        </div>
    </section>
</article>


<script>
    $(document).ready(function () {
        $('#liOnboardProject, #liDashboard, #liViewProject').removeClass('active');
        $('#liOnboardProject').addClass('active');
    });
</script>
